body {
    margin: 0;
    color: #fff;
    background-color: #050505;
    font-family: sans-serif;
}
.header {
    padding: 0.2rem;
    color: #fff;
    background-color: #222;
}
.header.secondary {
    background-color: #333;
}
nav {
    max-width: 85rem;
    margin: 1.5rem auto;
}
ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li {
    margin-right: 1rem;
}
.header li:nth-last-child(2) {
    margin-right: auto;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.header.home a[href='/'],
.header.embedded-application a[href$='/embedded-application'],
a.active {
    color: #ccc;
}
button {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: none;
    background: none;
}
.container {
    max-width: 85rem;
    margin: 1.5rem auto;
}

.box {
    display: grid;
}

iframe {
    border: none; /* Remove the iframe border */
}
